body{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}



.navbar {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-color: black;
    border: solid;
    border-radius: 50px;
    height: 20px;
    width: 90%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    position: sticky;
    margin-top: 20px;
    top: 0;
    z-index: 1000;
    margin: 0 auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-links li a {
    color: rgb(94, 58, 7);
    text-decoration: none;
    transition: color 0.3s;
    padding: 5px 10px;
    text-decoration: none;
    white-space: nowrap;
}
.nav-links li a:hover {
    color: #eeb610;
}
.logo-container{
    text-align: center;
    padding: 20px 0;
}


.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: rgb(94, 58, 7);
  
}

.nav-links li a.active {
    color: #eeb610; /* aktif link rengi */
    font-weight: bold;
    border-bottom: 2px solid #eeb610;
}

@media screen and (max-width: 500px) {
    .navbar{
      padding: 10px 15px;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .nav-links.active {
      display: flex;
    }

    .nav-links li a {
       color: rgb(94, 58, 7);
        text-decoration: none;
        transition: color 0.3s;
        padding: 5px 8px;
        text-decoration: none;
        white-space: nowrap;
    }
  
    .menu-toggle {
      display: none;
    }
}
